.extracurricular-wrapper {
  font-family: "Calibri";
  overflow-y: auto;
  max-height: calc(100vh - 70px);

  .extracurricular-inner-wrapper {
    padding: 50px 200px;
  }

  .activity-wrapper {
    margin-bottom: 20px;

    .activity-name {
      font-size: 16px;
      margin: 0;

      span {
        color: #6c757d;
        font-size: 14px;
      }
    }

    .activity-description {
      margin-left: 22px;

      .activity-location {
        margin: 0;
        font-style: italic;
        font-size: 14px;
      }
    }

    .activity-details {
      margin-bottom: 0;
      font-size: 16px;
    }
  }
}

@media (max-width: 992px) {
  .extracurricular-wrapper {
    .extracurricular-inner-wrapper {
      padding: 50px 100px;
    }
  }
}

@media (max-width: 768px) {
  .extracurricular-wrapper {
    .extracurricular-inner-wrapper {
      padding: 50px 50px;
    }
  }
}

@media (max-width: 576px) {
  .extracurricular-wrapper {
    .extracurricular-inner-wrapper {
      padding: 10px 20px;
    }
  }
}
