.card-wrapper {
  background-color: #ffffff;
  font-family: "Calibri" !important;
  border: 1px solid #e4e4e7;
  border-radius: 10px;
  width: 100%;
  padding: 20px 0;
  color: black;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  .feature-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 270px; // Set the initial height, adjust as needed
  }

  .card-description {
    padding: 20px 30px;
    // color: #bbbbbb;
    font-size: 13px;

    .card-name {
      margin: 0;
      //   color: #dadde2;
      font-size: 18px;
      font-weight: 400;
    }

    .card-title {
      margin: 0;
      font-size: 26px;
      font-weight: 600;
      //   color: #ffff;
    }

    .read-more {
      margin: 20px 0;
      font-size: 12px;
      font-weight: 500;
      //   color: #ffff;
    }
  }

  .card-divider {
    background-color: #919191;
    width: 100%;
    height: 1px;
    margin: 20px 0;
  }

  .readme-divider {
    margin-left: 8px;
    background-color: black;
    width: 20px;
    height: 2px;
  }
}

.card-wrapper:hover {
  box-shadow: #006fee 0px 5px 15px;
}
